/*
// ===================================================================================
//                                  CARRUSEL
// ===================================================================================
*/
.carousel .fa{
    font-size: 50px;
    color: #2B343B;
}
.carousel{
    max-width: 800px;
    padding: 10px 5px 0 5px;
    background-color: rgba(255,255,255,0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.carousel__contenedor{
    width: 100%;
    position: relative;
}
.carousel__anterior,
.carousel__siguiente{
    position: absolute;
    top: calc(50% - 30px);
    z-index: 1;
    border: none;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
}
.carousel__anterior:hover .fa,
.carousel__siguiente:hover .fa{
    color: #4187F6;
    font-size: 55px;
}
.carousel__anterior{
    left: 0;
}
.carousel__siguiente{
    right: 0;
}
.carousel__indicadores .glider-dot{
    display: block;
    width: 30px;
    height: 6px;
    background-color: #526676;
    border-radius: 0;
}
.carousel__indicadores .glider-dot.active{
    background-color: #4187F6;
}

/*
// ===================================================================================
//                                  LINK ESTUDIANTES
// ===================================================================================
*/
.studentLink{
    max-width: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.studentLink ul li a{
    position: relative;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 1.5px;
    font-weight: 500;
    color:rgba(255, 255, 255, 1)
}
.studentLink ul li a:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    background:url(../img/wave.png);
    -webkit-background-clip: text;
    background-repeat: repeat-x;
    animation: animate 2s linear infinite;
    transition: .5s;
    white-space: nowrap;
    overflow: hidden;
    width: 0;

}
.studentLink ul li a:hover{
    color:rgba(255, 255, 255, .1)
}
.studentLink ul li a:hover:before{
    width: 100%;
}
@keyframes animate {
    0%{
        background-position:0px;
    }
    100%{
        background-position:200px;
    }
}
/*
// ===================================================================================
//                                 PERFIL
// ===================================================================================
*/
.Perfil{
    display: flex;
    justify-content: center;
}
.Perfil-card{
    position: relative;
    width: 300px;
    height: 400px;
    background-color: rgba(255,255,255,0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Perfil-out{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 24px;
    transition: .5s;
    opacity: .7;
}
.Perfil-card:hover .Perfil-out{
    transform: translateX(100%);
    opacity: 1;
}
.Perfil-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}
.Perfil-card:hover .Perfil-content{
    opacity: .7;
}
.Perfil-imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, .25);
}
.Perfil-imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Perfil-contentBx h3{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
.Perfil-contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.Perfil-sci{
    position: absolute;
    bottom: 40px;
    display: flex;
}
.Perfil-sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    opacity: 0;
}
.Perfil-card:hover .Perfil-sci li{
    transform: translateY(0px);
    opacity: 1;
}
.Perfil-sci li a{
    color: #fff;
    font-size: 24px;
}
/*
// ===================================================================================
//                                 FACULTADES
// ===================================================================================
*/
.facultades ul{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5,70px);
    gap: 20px;
}
@media (max-width: 870px){
    .facultades ul{
        grid-template-columns: repeat(3,70px);
    }
}
.facultades li{
    position: relative;
}
.facultades li a{
    display: block;
    width: 70px;
    height: 70px;
    background-color: var(--bodyBg);
    line-height: 70px;
    text-align: center;
    margin: 0 10px;
    border-radius: 15px;
    box-shadow: -2px -2px 3px  rgba(255,255,255,0.05),
                3px 3px 3px rgba(0,0,0,0.2);
    font-size: 22px;
    color: rgba(255, 255, 255, .2);
}
.facultades li a:hover{
    color: #fff;
    text-shadow: 0 0 15px var(--activeBg);
    box-shadow: inset -2px -2px 3px  rgba(255,255,255,0.05),
    inset 3px 3px 3px rgba(0,0,0,0.2);
}

/*
// ===================================================================================
//                                 GRID
// ===================================================================================
*/
.principal-grid{
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas:    "carousel perfil"
                            "facultades studentLink";
}
.carousel{
    grid-area: carousel;
    justify-self: center;
    align-self: center;
}
.studentLink{
    grid-area: studentLink;
}
.Perfil{
    grid-area: perfil;
}
.facultades{
    grid-area: facultades;
    justify-self: center;
    align-self: center;
}
@media (max-width: 1270px){
    .principal-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:    "studentLink perfil"
                                "carousel carousel"
                                "facultades facultades";
        row-gap: 50px;  
    }
    .studentLink{
        justify-self: end;
    }
}
@media (max-width: 870px){
    /* .principal-grid{
        grid-template-columns: 1fr;
        grid-template-areas:    "perfil"
                                "studentLink"
                                "carousel"
                                "facultades";
        row-gap: 50px;  
    }
    .studentLink{
        justify-self: center;
    } */
    .principal-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    .Perfil{
        order: -1;
    }
    .studentLink{
        order: -1;
    }

}